<div class="card">
    <div class="card-header">
        <h5 class="card-title">Entity Information</h5>
    </div>
    <div class="card-body">
        {% if entity.image %}
            <div class="card-image">
                <img src="{{ entity.image }}" alt="{{ entity.brand }} image" class="img-fluid">
            </div>
        {% endif %}
        <h1>{{ entity.brand }}
            <a href="{{ entity.link }}" target="_blank" class="icon-link icon-link-href">
                <img src="/assets/images/link.svg" alt="Link icon">
            </a>
        </h1>
        <p><strong>Net Weight</strong>: {{ entity.properties.net_weight }}g</p>
        <p><strong>Design</strong>: {{ entity.design }} / 5</p>
        <p><strong>Description</strong>: {{ entity.description }}</p>
    </div>
</div>