<div class="card mb-4">
    <div class="card-header bg-success text-white">
        <h5 class="mb-0">Entity Feature Comparison</h5>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Entity</th>
                        <th>Net Weight</th>
                        <th>Design</th>
                        <th>Max Level</th>
                        <th>Average Capacity</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entity in comparison.products %}
                    <tr>
                        <td>
                            <a href="/product/{{ entity.id }}">{{ entity.brand }}</a>
                        </td>
                        <td>{{ entity.properties.net_weight }} g</td>
                        <td>{{ entity.design|default('-') }}</td>
                        <td>{{ entity.max_capacity }} ml</td>
                        <td>{{ entity.average_capacity|round(2, 'floor') }} ml</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>