<div class="card">
    <div class="card-header bg-success text-white">
        <h5 class="mb-0">Entity Feature Comparison</h5>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Feature</th>
                        {% for entity in comparison.entities %}
                            <th>{{ entity.brand }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Net Weight</td>
                        {% for entity in comparison.entities %}
                            <td>{{ entity.properties.net_weight|default('N/A') }} g</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td>Design</td>
                        {% for entity in comparison.entities %}
                            <td>{{ entity.design|default('-') }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td>Max Level</td>
                        {% for entity in comparison.entities %}
                            <td>{{ entity.max_capacity|default('N/A') }} ml</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td>Average Capacity</td>
                        {% for entity in comparison.entities %}
                            <td>{{ entity.average_capacity|round(2, 'floor')|default('N/A') }} ml</td>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>